body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    display: flex;
    align-items: center;
    justify-content:center;
    background:#1125bd;
   color:#000000;
   /* padilla te va a reprobar el examen por escribir eso en el css */
   /* pasame el codigo */

}
*{
   
    padding: 0px;
}

header{
    text-align: center;
  
}

header p{
    color: #00000088;
}

.login-card{
    max-width: 400px;
    background: #fff;
    padding: 3em;
    border-radius: 24px;
}
.form i{
    color: #000000;
}

label{
   display:flex;
   flex-direction: column;

  
}

i{
    display: inline-flex;
}

.campo span{
    display: flex;
   

}


